{% extends "base.html.twig" %}

{% block title %}Recipe APP{% endblock %}

{% block content %}

<h1>Welcome Recipe App</h1>

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<h2>Recipe list :</h2>
<ul>
    {% for recipe in recipes %}
        <li>
            <h4><a href="{{ path('show_recipe', {id: recipe.id}) }}">{{ recipe.name|e  }}</a></h4>
        </li>
    {% endfor %}
</ul>

{% endblock %}
