{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block content %}
List of all tags : 
    <ul>
        {% for tag in tags %}
            <li>
                <a href="{{ path('show_tag', {id: tag.id}) }}">{{ tag.name }}</a>
           </li>
        {% endfor %}
    </ul>
{% endblock %}
